{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "react",
    "compat"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": true
      }
    ],
    "react/prop-types": [
      0
    ],
    "compat/compat": 2,
    "import/no-unresolved": 0
  }
}
