{
  "*.{cmd,html,json,md,sh,txt,xml,yml}": [
    "eclint fix",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "*.{css,less,scss,sss}": [
    "stylelint --fix",
    "git add"
  ],
  "*.{png,jpeg,jpg,gif}": [
    "imagemin-lint-staged",
    "git add"
  ]
}
